* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(3, 3, 24);
}

.bg-image {
    height: 900px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.916), rgba(0, 0, 0, 0.668)), url("./assets-1/netflixteaser.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -180px;
}

.bg-image img {
    width: 11.25rem;
    margin-left: 60px;
    margin-top: 10px;
    display: inline-block;
}

.sign-in {
    display: inline-block;
    text-align: center;
    position: relative;
    top: -68px;
    margin-left: 75rem;
}

select {
    background-color: transparent;
    color: #fff;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    margin-right: 10px;
    border-style: none;
    border: 2px solid rgb(123, 122, 122);

}

select option {
    color: black;

}

button {
    background-color: rgb(193, 17, 25);
    border-style: none;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: larger;
    border-style: none;
}

button:hover {
    background-color: rgb(133, 7, 13);

}

.heading {
    margin-top: 70px;
    margin-left: 150px;

}

.heading h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 800;


}

.heading p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.user-main {

    width: 77rem;
    margin-left: 146px;
    border: 4px solid red;
    margin-top: 50px;
    padding: 30px 0px 30px 30px;
    border-radius: 10px;
    background: rgb(9, 9, 35);


}

.user-main h3 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;


}

.input input {
    width: 30%;
    padding: 1.2rem;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    border-style: none;
    border: 2px solid rgb(76, 75, 75);

}

input[type="email"]::placeholder {
    text-align: left;

}

.input button {

    padding: 1rem 2rem;
    margin-left: 7px;
    font-weight: 600;
    position: relative;
    bottom: -1px;
}

.input button:hover {
    background-color: rgb(145, 8, 8);
}

/* header close */

/* feature start */

.feature {
    width: 92%;
    margin-left: 60px;
    margin-right: 60px;
    height: 141vw;
    background-color: rgb(9, 9, 36);
    border-radius: 10px;
    display: inline-block;

}

.enjoy-tv {
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
}

.enjoy-tv h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    display: inline-block;
    margin-top: 100px;



}

.enjoy-tv p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;



}

.tv-image {
    height: 500px;
    background: url("./assets-1/bg-image.png");
    margin-left: 700px;
    margin-top: -310px;
    background-repeat: no-repeat;



}

.line {
    border: 0.8px solid rgb(76, 74, 74);
    margin-left: 100px;
    margin-right: 60px;

}


.watch-image {
    width: 37rem;
    background: url("./assets-1/img-1.png");
    height: 500px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 7%;
    margin-top: 1%;



}

.watch-tv {
    margin-left: 53%;
    margin-top: -21%;
}

.watch-tv h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;



}

.watch-tv p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;



}

.line1 {
    border: 0.8px solid rgb(76, 74, 74);
    margin-left: 100px;
    margin-right: 60px;
    margin-top: 15%;
}

.profile-content {
    margin-left: 10%;
    margin-top: 14%;
}

.profile-content h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-bottom: 10px;
}

.profile-content p {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}

.profile-image {
    background: url("./assets-1/img-3.png");
    height: 500px;
    background-repeat: no-repeat;
    margin-left: 49%;
    margin-top: -19%;
}

.line2 {
    border: 0.8px solid rgb(76, 74, 74);
    margin-left: 100px;
    margin-right: 60px;

}

.download-image {
    background: url("./assets-1/img-2.png");
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 30px;

}
.download-content{
    margin-left: 46%;
    margin-top: -26%;
}
.download-content h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.download-content p {
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}

/* footer start */

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 200px;
}
.foot ul li{
    margin-top: 10px;
} 
.foot ul li a{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.footer1{
    display: inline-block;
    
}

.footer2{
    display: inline-block;
}.footer3{
    display: inline-block;
}.footer4{
    display: inline-block;
}